/*标题*/
.content .title{
	text-align: center;
	font-size: 30px;
}

/*段落*/
.content .paragraph{
	color: #555 !important;
	line-height: 1.5 !important;
}

/*段落小标题*/
.content .small-title{
	color: #fff;
	background: #2B6695;
	border-bottom: 1px solid #d3d3d3;
	margin-top: 20px;
	padding: 3px 0 0 10px;
}

/*代码*/
.content pre code{
	font-size: 1.2em;
	font-family: 'Inconsolata' monospace;
	-webkit-font-smoothing: antialiased;
}
.content pre { 
	white-space: pre-wrap;       /* css-3 */ 
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */ 
	white-space: -pre-wrap;      /* Opera 4-6 */ 
	white-space: -o-pre-wrap;    /* Opera 7 */ 
	word-wrap: break-word;       /* Internet Explorer 5.5+ */ 
	margin-bottom: 10px;
	width: 95%;
	box-shadow: none !important;
}
